.u-center-text { text-align: center; }

.u-mb-bg { margin-bottom: 8rem; }
.u-mb-md { margin-bottom: 4rem; }
.u-mb-sm { margin-bottom: 1.5rem; }

.u-mt-xbg { margin-top: 10rem; }
.u-mt-bg { margin-top: 8rem; }
.u-mt-md { margin-top: 4rem; }
.u-mt-sm { margin-top: 1.5rem; }